# Core data science
pandas
numpy
matplotlib
seaborn
scikit-learn
wordcloud
# # Financial data & indicators
yfinance
PyNance
pynance
mplfinance
ta-lib
# # NLP & Sentiment Analysis
nltk
spacy
textblob
tabulate
# # Jupyter & Development


